In [ ]:
#Task1: How to sort dataframe by index and how to sort dataframe by specific column?

In [3]:
import pandas as pd

# Create a sample DataFrame
data = {'col1': [10,20,30], 'col2': [40, 50, 60]}
df = pd.DataFrame(data, index=[0,1,2])

# Sort the DataFrame by index
df_sorted_index = df.sort_index()

print(df_sorted_index)

   col1  col2
0    10    40
1    20    50
2    30    60

In [7]:
import pandas as pd

# Create a sample DataFrame
data = {'col1': [5, 10, 15], 'col2': [20, 25, 30]}
df = pd.DataFrame(data)

# Sort the DataFrame by a specific column
df_sorted_column = df.sort_values(by='col1')

print(df_sorted_column)

   col1  col2
0     5    20
1    10    25
2    15    30

In [17]:
#Task2: What is lambda expression?
# example 
fruits = [
    ["orange",15],
    ["banana",10],
    ["apple",15],
    ["mango",20],
    ["kiwi",25] 
]
sorted(fruits,key=lambda fruits: (fruits[1],fruits[0]))

[['banana', 10], ['apple', 15], ['orange', 15], ['mango', 20], ['kiwi', 25]]

In [18]:
square = lambda x: x**2
result = square(5)
print(result)

25

In [22]:
#Task3: How to detect and remove outliers using pandas?
import pandas as pd

# إنشاء DataFrame عينة
data = {'col1': [10, 12, 15, 20, 25, 50, 100, 200,500,700], 'col2': [1, 2, 3, 4, 5, 6, 7, 8,14,43]}
df = pd.DataFrame(data)

Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df < lower_bound) | (df > upper_bound)].dropna()

df_cleaned = df.drop(outliers.index)

print("Original DataFrame:")
print(df)
print(40*"-")
print("\nCleaned DataFrame:")
print(df_cleaned)

Original DataFrame:
   col1  col2
0    10     1
1    12     2
2    15     3
3    20     4
4    25     5
5    50     6
6   100     7
7   200     8
8   500    14
9   700    43
----------------------------------------

Cleaned DataFrame:
   col1  col2
0    10     1
1    12     2
2    15     3
3    20     4
4    25     5
5    50     6
6   100     7
7   200     8
8   500    14

In [30]:
# task 4 : how to read random row from our data 
import pandas as pd
df = pd.read_csv("C:\\Users\\HP\\Downloads\\Ai online\\Material\\Material\\16- Pandas\\4_read_write_to_excel\\stock_data.csv")
random_row = df.sample(n=1)
print(random_row)

  tickers    eps  revenue price      people
0   GOOGL  27.82       87   845  larry page

In [35]:
#Task5: How to combine more than two dataframes at the same tiem?
import pandas as pd 
data1 = pd.DataFrame({"Name":["mohamed","soliman","Ali"],"Age":[21,20,19]})
data2 = pd.DataFrame({"Name":["seif","ahmed"],"Age":[21,10]})
combined_of = pd.concat([data1,data2],ignore_index=True)
print(combined_of)

      Name  Age
0  mohamed   21
1  soliman   20
2      Ali   19
3     seif   21
4    ahmed   10

In [37]:
#Task6: Replace data in specific columns with specific value.
import pandas as pd

# Create a sample DataFrame
data = {'A': [10, 20, 30, 40], 'B': [50, 60, 70, 80], 'C': [90, 100, 110, 120]}
df = pd.DataFrame(data)

# Replace values in column 'A' with a specific value
df['A'] = df['A'].replace(20, 150)
print(df)

     A   B    C
0   10  50   90
1  150  60  100
2   30  70  110
3   40  80  120

In [44]:
#Task7: Write dataframes to two separate sheets in excel.
import pandas as pd

df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})
df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})
with pd.ExcelWriter('C:\\Users\\HP\\Downloads\\Ai online\\Tasks\\Task_11\\stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")